!======================================================
! Rofi Configuration (Grace Han)
!======================================================

rofi.location:          0
rofi.color-enabled:     true
!-----------------------------------------------------
!                       'background', 'border'
!-----------------------------------------------------                       
rofi.color-window:      argb:dc111111, argb:dc111111

!----------------------------------------------------------------------------------
! State:                'bg',          'fg',   'bgalt',       'hlbg',        'hlfg'
!----------------------------------------------------------------------------------
rofi.color-normal:      argb:00333333, #ffffff, argb:00333333, argb:00333333, #7778b7
rofi.color-urgent:      argb:00333333, #ffffff, argb:00333333, argb:00333333, #7778b7
rofi.color-active:      argb:00333333, #ffffff, argb:00333333, argb:00333333, #7778b7
rofi.separator-style:	solid
rofi.fullscreen:        false
rofi.padding:           50
rofi.hide-scrollbar:    true
rofi.lines: 		5
rofi.line-margin:       5
!rofi.fake-transparency: true 
rofi.yoffset:           0
rofi.xoffset:           0
rofi.width:             30
!rofi.opacity:           0
rofi.font:	        DejaVu Sans Mono 32


!======================================================
! Urxvt Configuration (Grace Han)
!======================================================

Xft.dpi: 180

URxvt.depth:                32
URxvt.geometry:             108x33
URxvt.loginShell:           true
URxvt.internalBorder:       30
URxvt.lineSpace:            0
URxvt*saveLines: 12000

! font
URxvt*font: xft:DejaVu Sans Mono:pixelsize=28
URxvt*boldFont: xft:DejaVu Sans Mono:bold:pixelsize=28

! scrollbar - true (default) or false
URxvt*scrollBar: false

!------------------------------------------------------
! colourscheme
! -----------------------------------------------------

themeterm.start: set
#define base00 #1b1818
#define base01 #292424
#define base02 #585050
#define base03 #655d5d
#define base04 #7e7777
#define base05 #ffffff
#define base06 #e7dfdf
#define base07 #f4ecec
#define base08 #ca4949
#define base09 #b45a3c
#define base0A #a06e3b
#define base0B #4b8b8b
#define base0C #5485b6
#define base0D #7272ca
#define base0E #8464c4
#define base0F #bd5187

*foreground:   base05
*background:   base00
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06
themeterm.end: set

!---------------------------------------------------------
! transparency
!---------------------------------------------------------

URxvt.transparent: true
URxvt.tintColor: white
URxvt.shading: 25 


